.vscode/launch.json
.vscode/tasks.json
obj/project.assets.json
obj/project.nuget.cache
obj/SalindaTodoApp.csproj.nuget.dgspec.json
obj/SalindaTodoApp.csproj.nuget.g.props
obj/SalindaTodoApp.csproj.nuget.g.targets
obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
obj/Debug/net5.0/dotnet.5.0.6.js
obj/Debug/net5.0/SalindaTodoApp.AssemblyInfo.cs
obj/Debug/net5.0/SalindaTodoApp.AssemblyInfoInputs.cache
obj/Debug/net5.0/SalindaTodoApp.assets.cache
obj/Debug/net5.0/SalindaTodoApp.csproj.AssemblyReference.cache
obj/Debug/net5.0/SalindaTodoApp.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net5.0/SalindaTodoApp.RazorComponent.input.cache
obj/Debug/net5.0/SalindaTodoApp.RazorComponent.output.cache
obj/Debug/net5.0/RazorDeclaration/_Imports.razor.g.cs
obj/Debug/net5.0/RazorDeclaration/App.razor.g.cs
obj/Debug/net5.0/RazorDeclaration/Pages/Counter.razor.g.cs
obj/Debug/net5.0/RazorDeclaration/Pages/FetchData.razor.g.cs
obj/Debug/net5.0/RazorDeclaration/Pages/Index.razor.g.cs
obj/Debug/net5.0/RazorDeclaration/Shared/MainLayout.razor.g.cs
obj/Debug/net5.0/RazorDeclaration/Shared/NavMenu.razor.g.cs
obj/Debug/net5.0/RazorDeclaration/Shared/SurveyPrompt.razor.g.cs
